*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-all;
}
.strikeThroughDone{
    text-decoration: line-through;
}
body{
    text-align: center;
    background-color: palegreen;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
h1{
    font-size: 5rem;
    color: blue;
}
.container{
    text-align: center;
    padding-top: 31px;
    width: 520px;
    margin: auto;
}
.task{
    width: 400px;
    height: 30px;
}
.submit{
    width: 100px;
    height: 30px;
    border-radius: 2px;
}
.TodoTable{
    text-align: center;
    margin: 15px auto 0;
}
